{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">
        <div class="row justify-content-center rounded-4 form-div-color my-5">
        <h1 class="py-5 text-center">Seznam přijatých faktur plátce DPH</h1>

        <div class="col-md-10">
            <div class="table-responsive">
                <table class="table table-custom">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Název faktury</th>
                            <th scope="col">Datum vystavení</th>
                            <th scope="col">Cena celkem</th>
                            <th scope="col">Testovat</th>
                            <th scope="col">Prohlédnout</th>
                            <th scope="col">Editovat</th>
                            <th scope="col">Smazat</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for invoice in invoices %}
                        <tr>
                            <td>{{ invoice.id }}</td>
                            <td>{{ invoice.nazev_faktury }}</td>
                            <td>{{ invoice.datum_vystaveni }}</td>
                            <td>{{ invoice.cena_celkem }}</td>

                                <td><button class="btn btn-custom btn-testovat"><i class="fas fa-flag"></i> Testovat</button></td>
                                <td>
                                    <a href="{{ url_for('invoice_list_blueprint.recieve_invoice_vat_payer_template', id=invoice.id) }}" class="btn btn-custom btn-prohlednout">
                                        <i class="fas fa-eye"></i> Prohlédnout
                                    </a>
                                </td>

                                <td>
                                    <a href="{{ url_for('edit_invoice_blueprint.edit_recived_invoice_vat_payer', id=invoice.id) }}" class="btn btn-custom btn-prohlednout">
                                        <i class="fas fa-eye"></i> Editovat
                                    </a>
                                </td>

                            <td><button class="btn btn-custom btn-smazat"><i class="fas fa-trash"></i> Smazat</button></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock content %}