{% extends 'base.html' %}

{% block content %}
<div class="container-fluid" id="myDiv">

        <h1 class="py-2 text-center">Detail faktury číslo  {{ invoice.id }}</h1>

    <h1 class="pb-2 text-center">{{ invoice.nazev_faktury }}</h1>
        <div class="row justify-content-center">

<div class="invoice-details container-fluid my-5">
    <!-- Základní informace -->
    <div class="invoice-section">
        <h4 class="section-title">Základní informace</h4>
        <div class="info-row">
            <span><strong>Evidenční číslo:</strong> {{ invoice.evidencni_cislo }}</span>
            <span><strong>Typ faktury:</strong> {{ invoice.typ_faktury }}</span>
        </div>
    </div>

    <!-- Dodavatel -->
    <div class="invoice-section">
        <h4 class="section-title">Dodavatel</h4>
        <p><strong>Jméno dodavatele:</strong> {{ invoice.jmeno_dodavatele }}</p>
        <p><strong>Adresa dodavatele:</strong> {{ invoice.adresa_dodavatele }}</p>
        <p><strong>IČO dodavatele:</strong> {{ invoice.ico_dodavatele }}</p>
        <p><strong>DIČ dodavatele:</strong> {{ invoice.dic_dodavatele }}</p>
    </div>

    <!-- Datumy a platba -->
    <div class="invoice-section">
        <h4 class="section-title">Datumy a platba</h4>
        <div class="info-row">
            <div class="info-column">
                <h5 class="subsection-title">Datumy</h5>
                <p><strong>Datum vystavení:</strong> {{ invoice.datum_vystaveni }}</p>
                <p><strong>Datum splatnosti:</strong> {{ invoice.datum_splatnosti }}</p>
                <p><strong>Datum UZP:</strong> {{ invoice.datum_uzp }}</p>
            </div>
            <div class="info-column">
                <h5 class="subsection-title">Platba</h5>
                <p><strong>Číslo účtu:</strong> {{ invoice.cislo_uctu }}</p>
                <p><strong>Měna:</strong> {{ invoice.mena }}</p>
                <p><strong>Variabilní symbol:</strong> {{ invoice.variabilni_symbol }}</p>
            </div>
        </div>
    </div>

    <!-- Úhrada -->
    <div class="invoice-section">
        <h4 class="section-title">Úhrada</h4>
        <div class="info-row">
            <p><strong>Zaokrouhlení:</strong> {{ invoice.zaokrouhleni }}</p>
            <p><strong>Platební metoda:</strong> {{ invoice.platebni_metoda }}</p>
            <p><strong>RPDP:</strong> {{ invoice.rpdp }}</p>
        </div>
    </div>

    <!-- Položky podle DPH -->
    <div class="invoice-section">
        <h4 class="section-title">Položky podle DPH</h4>
        <div class="info-row">
            <div class="info-column">
                <h5 class="subsection-title">Položky 21 %</h5>
                <p><strong>Vč. DPH 21%:</strong> {{ invoice.vc_dph_21 }}</p>
                <p><strong>Bez DPH 21%:</strong> {{ invoice.bez_dph_21 }}</p>
                <p><strong>DPH 21%:</strong> {{ invoice.dph_21 }}</p>
            </div>
            <div class="info-column">
                <h5 class="subsection-title">Položky 12 %</h5>
                <p><strong>DPH 12%:</strong> {{ invoice.dph_12 }}</p>
                <p><strong>Vč. DPH 12%:</strong> {{ invoice.vc_dph_12 }}</p>
                <p><strong>Bez DPH 12%:</strong> {{ invoice.bez_dph_12 }}</p>
            </div>
            <div class="info-column">
                <h5 class="subsection-title">Položky 0 %</h5>
                <p><strong>Bez DPH 0%:</strong> {{ invoice.bez_dph_0 }}</p>
            </div>
        </div>
    </div>
</div>

    </div>
</div>
{% endblock content %}