{% extends 'base.html' %} {% block content %}

<div class="container-fluid" id="myDiv">
    <h1 class="py-5 text-center">Applikace na vztěžování faktur</h1> <br>
    <div class="button-container">

        <a href="/loadinvoice" class="btn btn-large">Nahrát fakturu</a>
        <a href="#" class="btn btn-large">Testovat faktury</a>
        <a href="#" class="btn btn-large">Upravit prompt</a>
        <a href="/invoice_list_dashboard" class="btn btn-large">Seznam faktur</a>

    </div>
</div>

{% endblock content %}
