{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">
    <div class="row justify-content-center">
        <h1 class="py-5 text-center">Seznam faktur</h1>

        <div class="col-md-10">
            <div class="table-responsive">

                <table class="table rounded-5">
                      <thead>
                        <tr>
                          <th scope="col">ID</th>
                          <th scope="col">Název faktury</th>
                          <th scope="col">Datum vystavení</th>
                          <th scope="col">Cena celkem</th>
                          <th scope="col">Testovat</th>
                          <th scope="col">Prohlédnout</th>
                          <th scope="col">Editovat</th>
                            <th scope="col">Smazat</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for faktura in faktury %}
                        <tr>
                          <td>{{ faktura.id }}</td>
                          <td>{{ faktura.nazev_faktury }}</td>
                          <td>{{ faktura.datum_vystaveni }}</td>
                          <td>{{ faktura.cena_celkem }}</td>
                          <td>
                            <form action="{{ url_for('test_invoice', id=faktura.id) }}" method="POST">
                                <button type="submit" class="btn btn-warning">Testovat</button>
                            </form>
                          </td>
                          <td>
                            <form action="{{ url_for('invoice_page', id=faktura.id) }}" method="GET">
                                <button type="submit" class="btn btn-primary">Prohlédnout</button>
                            </form>
                          </td>
                            <td>
                            <form action="{{ url_for('edit_invoice', id=faktura.id) }}" method="GET">
                                <button type="submit" class="btn btn-success">Editovat</button>
                            </form>
                          </td>
                        <td>
                            <form action="{{ url_for('delete_invoice', id=faktura.id) }}" method="POST" onsubmit="return confirm('Opravdu chcete smazat tuto fakturu?');">
                                <button type="submit" class="btn btn-danger">Smazat</button>
                            </form>
                          </td>


                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>





{% endblock content %}